<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="history-tl-container">
      <ul class="tl">
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            10 th october 2020<br />
            11:59 PM
          </div>
          <div class="item-title">Start from registration</div>
          <div class="item-detail">think about it.</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            20th october 2020<br />
            11:59 PM
          </div>
          <div class="item-title">submit your work update</div>
          <div class="item-detail">Carry on with your remaining work</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            1st november 2020<br />
            11:59 PM
          </div>
          <div class="item-title">Submit your Work</div>
          <div class="item-detail">Wait for the result</div>
        </li>
      </ul>
    </div>
    <a href="index.html">Back to HOMEPAGE</a>
  </body>
</html>
